@{
    ViewData["Title"] = "אודותינו";
}
<h2>@ViewData["Title"]</h2>

<p>
    <strong>BCare</strong> היא הפלטפורמה היחידה הקיימת כיום בשוק המאפשרת לבצע ניתוח תוצאות בדיקות דם באופן מהיר, יעיל ונוח המותאמת הן למחשב האישי והן למכשיר הנייד.<br />
    הנתונים שעליהם מתבססת המערכת מגיעים ממקורות שונים כגון: המשתמשים עצמם, אתרי בריאות ומידע רפואי.<br />
    ניתן להעלות ל- <strong>BCare</strong> את בדיקות הדם, לקבל סקירה כללית על כל המאפיינים שנבדקו בדגש על התוצאות החריגות והמלצה לטיפול בהן. ההמלצות שיינתנו יהיו המלצות רפואיות.<br />
    מעבר לכך ב- <strong>BCare</strong> ניתן למצוא מערכת מעקב אחר טיפולכם, בה גם תוכלו להשאיר משוב אודות שביעות רצונכם מהטיפול המומלץ.<br />
    המערכת תאפשר כניסה אנונימית לגמרי שאינה תכלול פרטים מזהים וישנה אפשרות לכניסה עם הזדהות ושמירת פרטים למעקב.
</p>
