<script src="~/js/hmoChart.js" asp-append-version="true"></script>
@{
    ViewData["Title"] = "Charts";
}

<h2>סטטיסטיקה של כמות האנשים בכל קופת חולים:</h2>
<!--garph code-->
<div id='dashboard'></div>
