@{
    ViewData["Title"] = "צור קשר";
}
<h2>@ViewData["Title"]</h2>
<address>
    <font color="red"><b>BCare</b></font><br />
    <strong>כתובת: </strong>אלי ויזל 2, ראשון לציון<br />
    <strong>טלפון: </strong>*5025 <br />
    <strong>תמיכה: </strong> <a href="mailto:bcareproj@gmail.com">bcareproj@gmail.com</a><br />
</address>
