@{
    ViewData["Title"] = "דף ראשי";
}
<h2>@ViewData["Title"]</h2>

<h4><b>ברוכים הבאים לדף הבית של BCare!</b></h4>
<p>
    <font color="red">BCare</font> תסייע לך להבין את מצבך הבריאותי ותמליץ לך כיצד תוכל לשפר אותו – כל זאת באמצעות ניתוח תוצאות בדיקות דם אישיות וניתוחים סטטיסטיים מתקדמים. <br />
    במערכת זו תוכל לצפות במצבך האישי, בבדיקות קודמות שהועלו ולעקוב אחר ההתקדמות שלך לאורך זמן.<br />
    אז אם גם לך נמאס להזמין תור לרופא ולהמתין זמן רב כדי:<br />
    <ul>
        <li>להבין את תוצאות בדיקות הדם שלך</li>
        <li>לקבל המלצה ליטול ויטמין ללא מרשם</li>
        <li>לאבחן בעיות חשובות!</li>
    </ul>
    אנחנו מזמינים אותך להצטרף לשורותיה של BCare וכבר תרגיש יותר טוב!
</p>
<h4>התהליך:</h4>
<center>
    <img src="http://i.imgur.com/XqPWGP5.png" style="height:70%; width:70%;" />
</center>
<h3>כתבות מומלצות:</h3>
<div class="item">
    <img class="item-image" src="https://i.gyazo.com/b9839b73afd75a8c3ead0500805d80c2.png" />
    <div class="item-title">חם או סתם: המדריך השלם של תוספי התזונה</div>
    <a class="btn btn-danger" style="margin-top:7px;" href="http://www.mako.co.il/health-alternative-medicine/naturopathy/Article-c756fad54f62651006.htm?partner=tagit" target="_blank" data-item="b030a8ff" data-value="38.0">
        לכתבה - לחץ כאן
    </a>
</div>
<div class="item">
    <img class="item-image" src="http://www.ecosupp.co.il/wp-content/uploads/2013/08/pic4-300x217.jpg" />
    <div class="item-title">בדיקות שכל אחד צריך לעשות</div>
    <a class="btn btn-danger" style="margin-top:7px;" href="http://www.ecosupp.co.il/bloodtest/" target="_blank" data-item="b030a8ff" data-value="38.0">
        לכתבה - לחץ כאן
    </a>
</div>
<div class="item">
    <img class="item-image" src="http://img.mako.co.il/2015/12/16/HappyBlond_x5.jpg" />
    <div class="item-title">101 טיפים לחיים בריאים</div>
    <a class="btn btn-danger" style="margin-top:7px;" href="http://www.mako.co.il/special-2015-summary/Article-be58d6fcc428151006.htm" target="_blank" data-item="b030a8ff" data-value="38.0">
        לכתבה - לחץ כאן
    </a>
</div>