@model IEnumerable<BCare.Models.blood_test>
@{
    ViewBag.Title = "הבדיקות שלי";
}

<h2>@ViewData["Title"]</h2>

@if(ViewBag.UserID != null) {
    <table class="table">
        <thead>
            <tr>
                <th>תאריך הבדיקה</th>
                <th>שם רופא</th>
                <th>תוצאות</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BTestDate</td>
                    <td>@item.DoctorName</td>
                    <td><a asp-controller="Account" asp-action="BloodTestResult" asp-route-id="@item.BTestID">להצגת התוצאות</a></td>
                </tr>
            }
        </tbody>
    </table>
} else {
<h2>You are not logged in!</h2>
}

