@model BCare.Models.BloodTestViewModel
@{
    ViewBag.Title = "הבדיקות שלי";
}

<h2>@ViewData["Title"]</h2>

<h4><b>תוצאות הפניה שבוצעה בתאריך 1.4.2017</b></h4>
<p><b>שם הרופא: </b>אמירן גונקו</p>

<table class="table">
    <thead>
        <tr>
            <th>שם הבדיקה</th>
            <th>תוצאות הבדיקה</th>
            <th>גבולות הבדיקה</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in ViewBag.UserTestResult)
        {


        }
        <tr>
            <td><a asp-controller="Account" asp-action="TestInfo" dir="ltr">Urea(B)</a></td>
            <td class="text-danger"><b>24.2*</b></td>
            <td>19-24</td>
            <td>*|-----|</td>
        </tr>
        <tr class="danger">
            <td><a asp-controller="Account" asp-action="TestInfo" dir="ltr">MCH</a></td>
            <td>68.6</td>
            <td>60-77</td>
            <td>|--*--|</td>
        </tr>
        <tr>
            <td><a asp-controller="Account" asp-action="TestInfo" dir="ltr">ARC</a></td>
            <td>0.09</td>
            <td>0-0.15</td>
            <td>|-*---|</td>
        </tr>
    </tbody>
</table>