@model BCare.Models.blood_test

<h2>Vitamin A</h2>

יטמין A הוא ויטמין כוהלי החיוני לתפקודו התקין של הגוף ומשפיע על ראיית לילה ומערכת הראייה, על תפקוד העור והרקמות הריריות המצפות את מערכת העיכול ומערכת השתן על תפקוד מערכת הרבייה ועל תהליכי הגדילה של הגוף.<br /><br />
טעות נפוצה היא לזהות את המונח ויטמין A עם כינויים שונים כגון: "רטין "A, רטינול (retinol) או רטינול A. למעשה מדובר בצורות הפעילות של הוויטמין או בשימושים שלו. למשל: ויטמין A שמגיע מהחי נקרא רטינול, הפורמה של ויטמין A לשימוש חיצוני (במוצרי קוסמטיקה בעיקר) נקראת רטינול A.

<h3>מקורות ל Vitamin A</h3>
ויטמין A יכול להגיע מהחי או מהצומח והוא נמצא בירקות ופירות המכילים בטא-קרוטן - אשר הופך בגוף לוויטמין A (בטא-קרוטן מקנה צבע כתום והוא נמצא בירקות ופירות כמו גזר, בטטה, משמש,מנגו,אפרסמון או מלון, אך גם בירקות ירוקים כמו כרוב או תרד), וכן בכבד בקר, שמן דגים, חמאה, ביצים ועוד.

<h3>כמות מותרת לצריכה והגבלות רפואיות</h3>
הכמות המרבית המותרת לצריכה היא 3 מיליגרם רֵטִינוֹל ליממה (אין הגבלה על צריכת בטא-קרוטן). כמות הגדולה פי 10 מהמנה היומית המומלצת יכולה לגרום להרעלה שמתבטאת בכאבי ראש, בחילה, טשטוש ואף לחץ תוך־גולגלתי.

ויטמין A הוא חומר טרטוגני, לכן אסור לנשים בהריון לקחת ממנו כמות עודפת, שמא תגרם פגיעה בהתפתחות העובר.

<h3>היסטוריה</h3>
תהליך גילויו של ויטמין A נמשך כ-130 שנה. בשנת 1816 הפיזיולוג הצרפתי פרנסואה מז'נדי ערך ניסויים באמצעות חסכים תזונתיים אצל כלבים. כלבים שאכלו למשך שבועות אחדים רק מים וסוכר או גומי ערבי או דברי מזון אחרים שלא כללו חנקן לקו בכיבים בקרנית, איבדו משקל ורבים מהם מתו (תמונה קלינית זו דמתה למה שנודע מאוחר יותר כתסמונת חוסר הוויטמין A אצל בני אדם). הוא ייחס זאת לחסך בחלבונים.[1]

מאוחר יותר חוקרים כמו באד, ליבינגסטון, פון הובנט, ביטו, מורי, אישיהארה, גילו כי בני אדם שאכלו תזונה לקויה, שבימינו מזהים אותה כחסרת ויטמין A, נפגעו בקרנית ובראייה הלילית. בימי מלחמת העולם הראשונה בלוך חקר תוכניות תזונה שונות אצל ילדים דנים שסבלו מתזונה לקויה וגילה כי דיאטות שכללו חלב מלא, חמאה, ושמן מכבד דגי קוד כללו חומר מסיס בשומן שמונע קסרופתלמיה (xerophtalmia "יובש בעין"). בשנות ה-80 של המאה ה-19 גילה ניקולאי לונין שחומר בלתי מזוהה בחלב הוא חיוני לגדילת התינוקות. ב-1891 קארל סוצין מאוניברסיטת דורפט (כיום טארטו) הוכיח שקיים חומר לא ידוע בחלמון של הביצה שהוא חיוני לחיים. הוא שיער כי חומר זה הוא דמוי-שומן.[2]

בשנת 1911 החוקר הגרמני וילהלם סטפ יצר מקמח וחלב בצק שכלל תערובת שהוא כינה אותה "לחם חלב". מזון זה עזר לגדילת העכברים. אחרי שבעזרת אלכוהול ואתר נמשך ממנו "לחם החלב", תוך שלושה שבועות העכברים שניזונו מהבצק מתו. אם "לחם החלב" הוצא ואחר כך נוסף מחדש למזון, העכברים שרדו באופן נורמלי. מכאן הסיק סטפ שקיים חומר מסיס בשומן שהוא חיוני לחיים. הוא הסיק כי "חומרים שומניים מסוימים הנמצאים בחלב, והנמסים באלכוהול-אתר- הם חיוניים להישרדות העכברים"

בשנת 1912 מצא פרדריק גואולנד הופקינס שעכברים צעירים אינם גדלים היטב אם ניזונים רק ממנה בסיסית של חלבון, שמרים, סוכר קנה, שומן ומינרלים. רק הוספת כמות קטנה של חלב לאותו מזון אפשרה גדילה נורמלית. יש בחלב, הסיק הופקינס "גורמי מזון נלווים" (accessory food factors) במינון קטן להפליא, האחראיים להשפעה זו. אותם כינה קזימיר פאנק "ויטמינים".

ב-1913 שיער אישיהארה כי "חומר שומני" בדם הוא הכרחי בסינתזת הרודופסין ובהייווצרות השכבה השטחית של הקרנית וסבר שחוסר בחומר זה גורם לעוורון הלילה ולקראטומלציה.

בשנת 1913 הוכיחו אלמר מקקולום ומרגריט דייוויס מאוניברסיטת ויסקונסין וכמעט בו זמנית, תומאס אוסבורן ולפאייט מנדל מאוניברסיטת ייל, שלא לכל השומנים יש אותו הערך תזונתי. חמאה וחלמון של ביצה שווים יותר משומן בעל חיים ושמן זית בתמיכת הגדילה והישרדותם של עכברים.

בשנת 1918 "גורם המזון הנלווה התומך גדילה" כונה "הגורם המסיס בשומן A" ובשנת 1920 "ויטמין A".

בשנת 1932 תיאר פאול קארר מציריך, את המבנה הכימי של הוויטמין A. בשנת 1937 הרי הולמס ורות קורבט הצליחו לבודד ולגבש אותו. בהמשך, ב-1946 החוקרים דוד אדריאן ואן דורפ ויוזף פרדיננד ארנס וב-1947 אוטו אזלר ועמיתיו פיתחו שיטות לסינתזת הוויטמין. בעשורים הבאים נחקר תפקיד הוויטמין A במערכת החיסון ובהישרדות הילדים.